<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Twarkee.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Twarkee.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>benfulton</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>chakra101_</value>
            </setting>
            <setting name="RefreshDelay" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MenuVisibility" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="PositionTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PositionLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>892</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>688</value>
            </setting>
            <setting name="SelectedVoice" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="VoiceEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlaySound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VoiceVolume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="VoiceRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProcessedDirectMessages" serializeAs="String">
                <value>
                    &lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
                        &lt;string&gt;0&lt;/string&gt;
                    &lt;/ArrayOfString&gt;
                </value>
            </setting>
            <setting name="ApiType" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UsePublicTimeline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberTheMilkReminders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RememberTheMilkToken" serializeAs="String">
                <value />
            </setting>
        </Twarkee.Properties.Settings>
    </userSettings>
</configuration>